{% extends 'layout.html' %}
{% load static %}
{% block title %}
Dashboard | RsquareClass
{% endblock %}

{% block content %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Branches</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">View your branches here</li>
                    </ol>
                    
                    <div class="state-information d-none d-sm-block">
                        <div class="state-graph">
                            <div id="header-chart-1"></div>
                            <div class="info">Balance $ 2,317</div>
                        </div>
                        <div class="state-graph">
                            <div id="header-chart-2"></div>
                            <div class="info">Item Sold 1230</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        
        <div class="page-content-wrapper">
            <div class="row">
                {% for branch in branches %}
                <div class="col-xl-4 col-md-6 col-xs-12">
                    <div class="card m-b-30">
                        <img class="card-img-top img-fluid" src="{% static 'images/grey-screen.jpg' %}" alt="Card image cap" />
                        <div class="card-body">                            
                            <h4 class="card-title font-16 mt-0 mb-3">{{branch.name | upper}}</h4>
                            <p class="card-subtitle font-14 mb-4"><i class="mdi mdi-crosshairs-gps"></i>{{branch.address}}</p>
                            <p class="card-text">
                                Branch Manager: <span class="font-weight-bold">{{branch.manager}}</span>                                
                            </p>
                            <p class="card-text mb-5">
                                <a href="tel: {{branch.phone_no}}">
                                    <i class="mdi mdi-phone"></i> <span class="text-muted">{{branch.phone_no}}</span>
                                </a>                        
                            </p>
                            <a href="#" class="btn btn-primary waves-effect waves-light mr-4">Select</a>
                            <a href="#" class="btn btn-default waves-effect waves-light">Edit</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- end row -->
            
            
        </div>
        <!-- end page content-->
        
    </div> <!-- container-fluid -->
    
</div> <!-- content -->


{% endblock %}