{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
    
    {% block top-includes %}
    {% endblock %} 
    
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/metismenu.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/extra.css' %}" rel="stylesheet" >
</head>

<body>
    
    <!-- Begin page -->
    <div id="wrapper">
        
        <!-- Top Bar Start -->
        <div class="topbar">
            
            <!-- LOGO -->
            <div class="topbar-left {% if request.session.dark %}topbar-left-dark{% endif %}">
                <a href="index.html" class="logo">
                    <span>
                        <img src="{% static 'assets/images/logo.png' %}" alt="" height="24">
                    </span>
                    <i>
                        <img src="{% static 'assets/images/logo-sm.png' %}" alt="" height="22">
                    </i>
                    
                </a>
                <div id="user-type" style="letter-spacing: 2px; color: {% if request.session.dark %} rgba(255, 255, 255, 0.6) {% else %} #17a2b8 {% endif %}; font-weight: 500;">{{request.user.role}}</div>
            </div>
            
            <nav class="navbar-custom">
                
                <ul class="navbar-right d-flex list-inline float-right mb-0">
                    <li class="dropdown notification-list d-none d-sm-block">
                        <form role="search" class="app-search">
                            <div class="form-group mb-0"> 
                                <input type="text" class="form-control" placeholder="Search..">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form> 
                    </li>
                    
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="mdi mdi-bell noti-icon"></i>
                            <span class="badge badge-pill badge-info noti-icon-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                            <!-- item-->
                            <h6 class="dropdown-item-text">
                                Notifications (37)
                            </h6>
                            <div class="slimscroll notification-item-list">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                    <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                    <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                </a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                    <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                                </a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="mdi mdi-flag"></i></div>
                                    <p class="notify-details">Your item is shipped<span class="text-muted">It is a long established fact that a reader will</span></p>
                                </a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                    <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                </a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
                                    <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                                </a>
                            </div>
                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                                View all <i class="fi-arrow-right"></i>
                            </a>
                        </div>        
                    </li>
                    <li class="dropdown notification-list">
                        <div class="dropdown notification-list nav-pro-img">
                            <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="{% static 'assets/images/users/user-4.jpg' %}" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5"></i> My Wallet</a>
                                <a class="dropdown-item d-block" href="{% url 'settings' %}"><span class="badge badge-success float-right">11</span><i class="mdi mdi-settings m-r-5"></i> Settings</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5"></i> Lock screen</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="{% url 'logout' %}"><i class="mdi mdi-power text-danger"></i> Logout</a>
                            </div>                                                                    
                        </div>
                    </li>
                    
                </ul>
                
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-effect waves-light">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>                        
                    <li class="d-none d-sm-block">
                        <div class="dropdown pt-3 d-inline-block">
                            
                            <form action="{% url 'branch-change' %}" method="POST" id="branch-change-form">
                                {% csrf_token %}
                                {% if user.is_owner %}
                                <a class="btn btn-header waves-effect waves-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{request.session.curr_branch}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">       
                                    {% for branch in branches %}                         
                                    <a class="dropdown-item active branch-selector" data-branch="{{branch.name}}">{{branch}}</a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </li>
                </ul>
                
            </nav>
            
        </div>
        <!-- Top Bar End -->
        
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu {% if request.session.dark %}side-menu-dark {% endif %} %">
            <div class="slimscroll-menu" id="remove-scroll">
                
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="{% url 'dashboard' %}" class="waves-effect">
                                <i class="mdi mdi-home"></i><span class="badge badge-primary float-right">3</span> <span> Dashboard </span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'student-viewall' %}" class="waves-effect">
                                <i class="mdi mdi-account"></i><span> Students </span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-help"></i><span> Enquiry <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="#">Empty</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'calendar' %}" class="waves-effect"><i class="mdi mdi-calendar-check"></i><span> Calendar </span></a>
                        </li>
                        <li>
                            <a href="{% url 'batch-viewall' %}" class="waves-effect">
                                <i class="mdi mdi-account-multiple"></i>
                                <span> Batches</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-file-document"></i><span> Exams <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="#">Empty</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-monitor"></i><span> Lectures <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="#">Empty</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-checkbox-multiple-marked-circle"></i><span> Assignments <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="#">Empty</a></li>
                            </ul>
                        </li>
                        {% if request.user.is_owner or request.user.is_branch_manager %}
                        <li>
                            <a href="{% url 'course-viewall' %}" class="waves-effect">
                                <i class="mdi mdi-projector-screen"></i> Courses </span>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-currency-inr"></i><span> Expense <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="#">Empty</a></li>
                            </ul>
                        </li>
                        {% if user.is_owner %}
                        <li>
                            <a href="{% url 'branch-viewall' %}" class="waves-effect">
                                <i class="mdi mdi-source-branch"></i> Branches </span>
                            </a>
                        </li>
                        {% endif %}
                        
                    </ul>
                    
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>
                
            </div>
            <!-- Sidebar -left -->
            
        </div>
        <!-- Left Sidebar End -->
        
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        
        <div class="content-page">
            {% block content %}
            {% endblock %}            
            <footer class="footer">
                © 2018 Agroxa <span class="d-none d-sm-inline-block">- Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand.</span>
            </footer>
        </div>
        
        
        
        
        
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        
        
    </div>
    <!-- END wrapper -->
    
    
    <!-- jQuery  -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/waves.min.js' %}"></script>
    
    <script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    
    {% block bottom-includes %}
    {% endblock %}
    
    <!-- App js -->
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script>
        $('.branch-selector').on("click", function(){
            var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "branch").val($(this).attr('data-branch'));
                $('form#branch-change-form').append(input);
                $('form#branch-change-form').submit();
        })
    </script>
    {% block script %}
    {% endblock %}
    
</body>

</html>